@import "tailwindcss";

@theme{
  --color-primary:#0055FE;/* Main Blue */
  --color-accent:#4985FE; /*Light Blue */
  --color-secondary:#E1E1E2;/* Off White */
  --color-gray:#999999;/*Dull White */
}

body{
  background-color: black;
}

/* Basic fade transition */
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}

::view-transition-old(root) {
  animation-name: fade-out;
}

::view-transition-new(root) {
  animation-name: fade-in;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
